---
layout: 'base.njk'
---

<section class="container">
  <div class="article-space">
    
    <figure>
      <img src={{image}} alt={{imageAlt}}>
    </figure>
    <h1 class="article-title">
      {{ title}}
    </h1>

    {{content | safe}}
  </div>
</section>