<li>
        <article class="snippet">
          <div>
            <h3 class="snippet-title">
              <a href={{post.url}}>{{ post.data.title }}</a>
            </h3>
            <p class="article-author">
              by <span>{{post.data.author}}</span>
              on {{post.date | postDate}}
            </p>
            <p class="description">{{ post.data.description}}</p>
            <a href={{post.url}}>Continue reading</a>
          </div>

          <div>
            <img src={{post.data.image}} alt={{post.data.imageAlt}}>
          </div>
          
        </article>
      </li>