<footer>
    <div class="container">
        <div class="flex">
          <h2 class="logo">@Jgvargasjr</h2>
        </div>
        
        © 2022 John Vargas. All rights are NOT reserved.
    </div>
</footer>