<footer>
    <div class="container">
        <img src="./haloTvSeriesLogo.bmp" alt="Halo the TV series logo" class="logo">
        © 2022 John Vargas. All rights are NOT reserved.
    </div>
</footer>