<header>
    <nav>
        <div class="container">
            <h2 class="logo">@Jgvargasjr</h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/">Blogs</a>
                </li>
            </ul>
        </div>
        
    </nav>
</header>