<header>
    <nav>
        <div class="container">
            <img src="haloLogo.bmp" alt="" class="logo">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/">Blogs</a>
                </li>
            </ul>
        </div>
        
    </nav>
</header>