---
title: Blog
layout: 'base.njk'
---
<section class="container">
  <h1 class="blogs-title text-center">Recent articles</h1>

  <ul class="articles-list">
    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
</section>  


    