---
title: John's pop-culture blog
layout: 'base.njk'
---

<section id="welcome-section" class="container split">
  <div class="welcome-text">
    <h1>Welcome to my pop-culture blog!</h1>
    <p>Hi, my name is John and this is where I share my excitment and criticism of all my favorite shows and Pop-culture events.</p>
    <p>You can browse through the featured articles or simply see my most recent posts. Thank you!</p>
    <div class="btn-section">
      <div>
        <a class="btn btn-primary" href="#featured-articles">Feautured articles</a>
      </div>
      <div>
       <a class="btn btn-secondary" href="/blog/">Most recent articles</a>
      </div>
    </div>
    
  </div>
  <div class="home-img-container">
    <div class="home-img">
      <img src="./assets/myself.jpg" alt="">
    </div>
  </div>
  
    
</section>

<section id="featured-articles">
  <div class="container">
    <h1 class="text-center">Featured articles</h1>

    {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </div>
    
    
</section>