---
title: example
layout: 'base.njk'
---

<section id="welcome-section" class="container">
    <h1>Welcome to my Halo the TV series blog!</h1>
    <p>This is there a share my excitment and criticism of the latest entry of live action Halo universe</p>
    <a href="#">Feautured articles</a>
    <a href="#">Most recent articles</a>
</section>

<section id="featured-articles" class="container">
    <h2 class="">Featured articles</h2>

    <div class="blog-entry split">
        <div class="blog-details">
            <h3 class="blog-heading">Episode 1 - "Contact"</h3>
            <p class="author-date">by John</p>
            <p class="blog-snippet">The chief is back!</p>
        </div>
        <div>
            <img src="./masterChief.bmp" alt="">
        </div>
    </div>

    <div class="blog-entry split">
        <div class="blog-details">
            <h3 class="blog-heading">Episode 2 - "Contact"</h3>
            <p class="author-date">by John</p>
            <p class="blog-snippet">Silver Team is awesome!</p>
        </div>
        <div>
            <img src="./silverTeam.bmp" alt="">
        </div>
    </div>
    
</section>