:root {
    --color-nav-bg: rgb(78, 97, 206);
    --color-bg-neutral: rgb(228, 227, 227);
    --color-text-primary: rgb(49, 69, 180);
    --color-text-secondary: rgb(255, 255, 255);
    --color-text-black: rgb(73, 73, 73);
    --color-text-lighten: rgb(121, 121, 121);

    --color-bg-white:#fff;
    --color-purple: rgb(121, 119, 230);
}

/*------------
    General
------------*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    color: var(--color-text-black);
}

h1 {
    color: var(--color-text-primary);
    font-size: 2.5rem;
    font-family: Optima;
}

p {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.split > * {
    flex-basis: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.article {
    margin: 1rem 0;
}

.snippet-title a {
    font-size: 1.5rem;
    text-decoration: none;
}

.btn {
    text-decoration: none;
    padding: .75rem 1.25rem;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    display: inline-block;
}

.btn-primary {
    background: var(--color-nav-bg);
    color: var(--color-text-secondary);
}

.btn-primary:hover {
    background: var(--color-bg-neutral);
    color: var(--color-nav-bg);
}

.btn-secondary {
    background: var(--color-bg-white);
}

.btn-secondary:hover { background: var(--color-bg-neutral); }

.text-center {text-align: center;}

.logo { font-size: 1.75rem;}

@media (max-width: 810px) {
    .split {
        display: flex;
        flex-direction: column;
    }

    .split > * {
        padding: 1rem 3rem;
    }
}

/*----------
    Index
-----------*/

#welcome-section,
#featured-articles {
    padding: 5rem 0;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text > * {
    margin: 1rem 0;
}

.btn-section {
    display: flex;
}

.btn-section > * {
    margin-right: .5rem;
}

.home-img-container {
    background: var(--color-purple);
    padding: 2rem;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.home-img { clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

.blog-entry {
    padding: 2rem 0;
}

.blog-details {
    display: flex;
    flex-direction: column;
}

.author-date {
    margin: 1rem 0;
}

#featured-articles {
    background: var(--color-bg-neutral);
}

#featured-articles h1 {
    margin-bottom: 2rem;
}

@media (max-width: 810px) {
    .btn-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }

    .home-img-container {
        display: none;
    }
}

/*------------------
    Article Snippet
------------------*/
.article-list-item { 
    list-style-type: none;
    margin: 4rem 0;
}

.article-author {
    margin-top: 1rem;
}

.lighten-text { color: var(--color-text-lighten);}
.description {
    margin: 2rem 0;
}
/*------------
    Blogs
------------*/
.blogs-title {
    margin: 2rem 0;
}

/*
    Article
*/
.article-space {
    margin: 2rem 0;
}

.article-title {
    margin: 1.5rem 0;
}

/*------------
    Nav
------------*/
nav {
    background: var(--color-nav-bg);
    color: var(--color-bg-white);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    color: var(--color-text);
}

nav li {
    list-style-type: none;
}

nav a {
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid var(--color-bg-white);
    
}

nav a:visited {
    color: inherit;
}

/*------------
    Footer 
------------*/

footer {
    background: var(--color-nav-bg);
    color: var(--color-text-secondary);
    padding: 2rem 0;
    text-align: center;
}

footer > * {
    margin-bottom: 2rem;
}

.btn-footer {
    margin-bottom: 1rem;
}